// Quasar SCSS (& Sass) Variables

$primary   : #30f2a1;
$secondary : #113928;
$accent    : #67d8ff;

$dark      : #07110d;
$dark-page : #030806;

$positive  : #67ffb3;
$negative  : #ff5f5f;
$info      : #57d0ff;
$warning   : #ffbf47;
